*{
    margin: 0;
    padding: 0;
} 
.contenedor{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
    padding: 10px;
    grid-template-areas:
    "cabeza pies"
    "cabeza pies"
    "botones pies";  
    place-items: stretch; 

    width: 1440px;
    height: 1024px;
    background-color: azure; 

   

}
.cabeza{
    grid-area: cabeza; 
    background-color:#F3F5FC;
    justify-content: stretch;
    position: relative;
  
}
.cabeza img{
    position:absolute;
    width: 18%;
    height: 10%;
    top: 1rem;
    left: 1rem;    
}
.cabeza textarea{
    position: absolute;
    left: 15%;
    top: 25%;
    width: 80%;
    height: 15%;
    background-color: #F3F5FC;
    color: #0A3871;
    border: none;
    font-weight: 400;
    font-size: 150%;
    line-height: 150%;
    justify-content: stretch;
}
::placeholder{
    color: #0A3871;
}

.botones{
    grid-area: botones;
    background-color: #F3F5FC;
    position: relative;
    
}
.botones #encriptar{
    position: absolute;
    width: 35%;
    height: 24.5%;
    left: 15%;
    top: 55%;
    background-color: #0A3871;
    color: #ffffff;
    flex-direction: row;
    align-items: center; 
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #0A3871;
}
.botones #desencriptar{
    position: absolute;
    width: 35%;
    height: 24.5%;
    left: 55%;
    top: 55%;
    background-color: #D8DFE8;
    color: #0A3871;
    flex-direction: row;
    align-items: center; 
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #0A3871; 

}
.botones p{
    position: absolute;
    width: 250px;
    height: 18px;
    left: 15%;
    top: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
} 

.pies{
    grid-area: pies;
    background-color: #F3F5FC;
    position: relative;
    
}
#cuadro{
        display: block;
        position: absolute;
        width: 50%;
        height: 90%;
        left: 20%;
        top: 2%;
        background-color: #ffffff;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    
}
#cuadro img{
    
    position: absolute;
    width: 60%;
    height: 27%;
    left: 20%;
    top: 30%;
}
#cuadro .tex1{
    position: absolute;
    width: 85%;
    height: 10%;
    left: 10%;    
    top: 64%;    
    font-weight: 700;
    font-size: 200%;
    line-height: 120%;    
    text-align: center;    
    color: #343A40;       
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
#cuadro .tex2{
    position: absolute;
    width: 85%;
    height: 8%;
    left: 10%;    
    top: 72%;
    font-weight: 400;
    font-size: 120%;
    line-height: 150%;    
    text-align: center;    
    color: #495057;       
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-top: 10%;
}
#salida{
    display: none;
    position: absolute; 
    width: 50%;
    height: 90%;
    left: 20%;
    top: 2%;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
#salida #texsalida{
    position: absolute;
    width: 90%;
    height: 70%;
    left: 6%;    
    top: 5%;
    font-weight: 400;
    font-size: 150%;
    line-height: 150%;    
    text-align: center;    
    color: #495057;       
    flex-grow: 0;
    /* padding-top: 30px;   */
    border: none;  
}
#salida #copiar{
    position: absolute;
    /* display: flexbox; */
    width: 70%;
    height: 9%;
    left: 17%;
    top: 80%;
    background-color: #D8DFE8;
    color: #0A3871;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #0A3871;

}


@media screen and (max-width: 780px) {

    .contenedor{
        display: grid; 
        grid-template-columns: 100%;
        grid-template-rows: 400px 250px 500px;
        padding: 10px;
         grid-template-areas:
        "cabeza"
        "botones"
        "pies";  
        justify-content: flex-start;
    
        width: auto;
        height: auto;
        margin: 0 auto;   
    
    }
    #cuadro img{
        width: 0%;
        height: 0%;
    } 
    #cuadro{
        position: absolute;
        width: 90%;
        height: 70%;
        left: 6%;
        top: 4%;
        background-color: #ffffff;
    }
    #cuadro .tex1{
        width: 80%;
        height: 10%;
        left: 10%;    
        top: 30%;
    }
    #cuadro .tex2{
        width: 80%;
        height: 20%;
        left: 10%;    
        top: 45%;
    }
    #salida{
        position: absolute;
        width: 90%;
        height: 70%;
        left: 6%;
        top: 4%;
        background-color: #ffffff;
    }

} 